:${PORT} {
  root * /app/web
  file_server browse {
    index index.html
  }

  handle /healthcheck {
    respond "ok"
  }

  @mywebsocket {
    path /${VLESS_WSPATH}
    header Connection *Upgrade*
    header Upgrade websocket
  }
  reverse_proxy @mywebsocket localhost:${V_PORT}
}
